@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);   
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: top left, bottom right;
}
/* Nav Style */
nav{
    display : flex;
    align-items: center;
    justify-content: space-between;
    /*for understanding*/
    margin : 0 150px;
}

.nav-title{
    font-weight: 800;
    font-size : 45px;
}

.colorText{
    color : #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

.dark2{
    color: #474747;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

.btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color : white;
    padding : 18px 35px;
    font-weight: 700;
    font-size: 20px;
    border : none;
}


/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 60px 0 150px
}

.banner-content{
    max-width : 500px;   
}

.greetings{
    font-weight: 600;
    text-align: left;
    font-size: 32px;
    margin-bottom: 0;
}

.name{
    font-weight: 800;
    text-align: left;
    font-size: 50px;
    color : #181818;
    margin-top:0;
    margin-bottom: 0;
}

.summery{
    color : #757575;
    margin-top: 0;
}

.img-container{
    display: flex;
    margin-top: 2px;
}

.banner-img{
    width : 468px;
}

/* Section Title */
.section-title{
    font-size: 35px;
    font-weight: bold;
    color : #181818;
}

.section-description{
    font-size: 18px;
    color : #757575;
}

.bg-color{
    background-color: #FFF8F3;
}

main{
    max-width: 1140px;
    margin : 0 auto;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top:130px;
}

.about-items{
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 30px;
}

.item-info{
    color : #757575;
}

.skill{
    margin-top: 120px;
}
/* Skill Part  */
.skill-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin : 0 auto;
}

.skill-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    gap : 24px;
}

.card-container .card{
    max-width: 267px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 35px;
    box-shadow: 0px 6px 50px 0px #d4d4d4;
    padding : 30px 30px 50px 30px;
}

.card img{
    width: 44px;
}

#skill-para{
    width : 201px;
}

/* summery style */

.summery{
    margin-top : 120px;
    text-align: center;
}



.summery-container{
    display : flex;
    gap: 25px;
    margin-bottom: 30px;
}

.summery-header{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}

.main-header{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.summery-box{
    width : 500px;
}

.box-header{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sub-header{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 5px;
}

.sub-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-top : 0;
}


/* footer style */

footer{
    background-color: #FFF8F3 ;
    display: flex;
    padding : 150px 190px;
}

.footer-para{
    width:80%;
}

.footer-column{
    width:50%;
}
 

footer input[type="text"], input[type="email"], footer textarea{
    height : 55px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 90%;
    border : none;
    margin-top : 10px;
    margin-bottom: 10px;
    padding : 5px 20px;
}

.summery button{
    margin-bottom : 100px;
}